
body{
    /* background: url('./img/cloud.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
  }   
  .container {
      /* background: linear-gradient(to bottom,rgb(85, 85, 213),white),url('./img/pngtree-weather-icon-image_1175001.jpg'); */
      background-size: cover;
      background-position: center;
      max-width: 400px;
      margin: 40px auto;
      padding: 20px;
      background-color: rgb(160, 239, 255);
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    } 
    
     .sub {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    } 
    
     input[type="text"] {
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
    
    button[type="submit"] {
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      background-color: rgb(32, 12, 187);
      color: #fff;
      cursor: pointer;
    } 
    
    .display_temp {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    
    .display_temp h1 {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .display_details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    
    .display_details aside {
      margin-bottom: 10px;
    }
    
    .display_details h2 {
      font-size: 24px;
      font-weight: bold;
    } 